body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

#gameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameWindow {
    border: 20px solid black;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    width: 1040px;
    height: 720px;
}
